<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/form.css">
  </head>
  <body>
    <h1>Cadastre um usuário</h1>
    <form action="/users/save" method="post">
      <input
        type="text"
        name="name"
        id="nameInput"
        placeholder="Digite seu nome"
      />

      <input
        type="text"
        name="age"
        id="ageInput"
        placeholder="Digite sua idade"
      />

      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
